body {
    margin: 0;
    text-align: center;
}

.top-container {
    
}

.top-cloud {

}

.bottom-cloud {
    position: absolute;
    
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.dev {
    text-decoration: underline;
}

