body {
    margin: 0;
    text-align: center;
}

.navbar {
    position:fixed;
    top:0;
    background-color: #6C9AFA;
    width:100%;
    height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navtitle {
    float: left;
    margin: 5px 10px;
    color: #ffffff;
    font-size: 18px;
}

.navitem {
    display: inline;
    text-decoration: none;
    float:right;
}

.top-cloud {
    position: relative;
    right: 10%;
    top: 10%;
}

.bottom-cloud {
    position: relative;
    left: 15%;
    top: 35%;
}

.extra-cloud {
    position: relative;
    left: 35%;
    top: 55%;
}

.mountainimg {
    margin-top: 22%;
}


.dev {
    text-decoration: underline;
}

