body {
    margin: 0;
    text-align: center;
}



.top-cloud {
    position: absolute;
    right: 10%;
    top: 10%;
}

.bottom-cloud {
    position: absolute;
    left: 15%;
    top: 35%;
}

.extra-cloud {
    position: absolute;
    left: 35%;
    top: 55%;
}

.mountainimg {
    margin-top: 22%;
}

.top-container {
    height: 100%;
}

.middle-container {
}

.bottom-container {
}

.dev {
    text-decoration: underline;
}

