body {
    margin: 0;
    text-align: center;
}



.top-cloud {

}

.bottom-cloud {
    position: absolute;
    top: 35%;
    left: auto;
    
}

.mountain {
    position: absolute;
    bottom: 0;
    left: auto;
}

.top-container {
    
}

.middle-container {
}

.bottom-container {
}

.dev {
    text-decoration: underline;
}

