body {
    margin: 0;
    text-align: center;
}

.navbar {
    position:fixed;
    top:0;
    background-color: #485CE8;
    width:100%;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    text-align: center;
}

.navtitle {
    float: left;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navitem {
    display: inline;
    text-decoration: none;
    float:right;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navitem:hover {
    background-color: #4B8CF2;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 35%;
}

.bottom-cloud {
    position: absolute;
    left: 15%;
    top: 35%;
}

.extra-cloud {
    position: absolute;
    left: 35%;
    top: 55%;
}

.mountainimg {
    margin-top: 22%;
    height: 500px;
    width: 850px;
}

.middle-container {
    font-family: 'Roboto Condensed', sans-serif;
}
