body {
    margin: 0;
    text-align: center;
    background-color: #E8E8E8;
}

.navbar {
    position:fixed;
    top:0;
    background-color: #485CE8;
    width:100%;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    overflow: hidden;
}

.navtitle {
    float: left;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding:  15px 20px;
    text-decoration: none;
}

.navitem {
    display: inline;
    text-decoration: none;
    float:right;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    height: 100%;
    margin: 0;
    padding:  15px 10px;
    font-size: 25px;
}

.navitem:hover {
    background-color: #4B8CF2;
}

/* .top-cloud {
    position: absolute;
    right: 20%;
    top: 35%;
}

.bottom-cloud {
    position: absolute;
    left: 15%;
    top: 35%;
}

.extra-cloud {
    position: absolute;
    left: 35%;
    top: 55%;
} */

/* .mountainimg {
    height: 500px;
    width: 850px;
} */


.top-container {
    display: inline-block;
    width: 45%;
    margin-top: 3.5%;
}

.prof {
    border: 2px solid black;
    border-radius: 50%;
    float: left;
    margin-top: 10%;
    height: 300px;
    width: 300px;
}

.top-container h2 {
    font-size: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    float: right;
}

.middle-container {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    width: 80%;
    margin: 2% 10% 2% 10%;
}
.middle-container p {
    padding-left: 5%;
    font-size: 30px;
    text-indent: 20px;
}
    
.middle-container h2 {
    padding-left: 10%;
    font-size: 50px;
    margin-top: 10%;
}