body {
    margin: 0;
    text-align: center;
    background-color: #3d3d3d;
}

.navbar {
    position:fixed;
    top:0;
    background-color: #86211c;
    width:100%;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    overflow: hidden;
}

.navtitle {
    float: left;
    color: #FFEDDF;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding:  15px 20px;
    text-decoration: none;
}

.short-title {
    display: none;
}

.navitem {
    display: inline;
    text-decoration: none;
    float:right;
    font-family: 'Montserrat', sans-serif;
    color: #FFEDDF;
    height: 100%;
    margin: 0;
    padding:  15px 10px;
    font-size: 25px;
}

.navitem:hover {
    background-color: #4B8CF2;
}



.top-container {
    display: inline-block;
    width: 80%;
    padding: 5% 0 0 0;
    margin: 0 15%;
}

.prof {
    border: 2px solid black;
    border-radius: 50%;
    float: left;
    height: 300px;
    width: 300px;
    filter: grayscale(100%);
}

.top-container h2 {
    font-size: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    float: right;
    color: #FFEDDF;
}

.middle-container {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    width: 80%;
    margin: 4% 10% 2% 10%;
}
.middle-container p {
    padding-left: 5%;
    font-size: 30px;
    text-indent: 20px;
    color: #FFEDDF;
}
    
.middle-container h2 {
    padding-left: 10%;
    font-size: 50px;
    margin-top: 3%;
    color: #FFEDDF;
}

@media only screen and (max-width: 600px) {
    .short-title {
        display: block;
    }
    .long-title {
        display: none;
    }
    .mes {
        display: none;
    }
    .top-container {
        width: 95%;
        margin-top: 15%;
    }
    .prof {
        height: 40%;
        width: 40%;
    }
    .top-container h2 {
        font-size: 40px;
    }
}